body {
  background: #f3f3f3;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}



@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

html {
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
  color: #666;
}

.gridlove-cover-area,
.gridlove-cover {
  height: 500px;
}

.gridlove-cover {
  position: relative;
  display: inline-block;
}

.gridlove-cover-bg .gridlove-cover::before {
  left: 0;
  background: (linear, left top, right top, color-stop(0, #000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, #000 0, rgba(0, 0, 0, 0) 100%);
}

.gridlove-cover-1 .gridlove-cover-bg .gridlove-cover::before {
  width: 70%;
}

.gridlove-cover-bg .gridlove-cover::after {
  content: "";
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 2;
  opacity: 1;
  background: blue;
}

.gridlove-hidden-overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gridlove-cover-content .entry-header {
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 480px;
  text-align: left;
  z-index: 3;
  margin-left: 15px;
  padding-top: 120px;
  pointer-events: none;
}

.gridlove-cover-content .entry-category {
  margin-bottom: 15px;
}

.gridlove-cover-content .entry-title,
.gridlove-cover-content .entry-title a,
.gridlove-cover-content p {
  color: #FFF;
}

.gridlove-cover-content .entry-title {
  margin-bottom: 20px;
}


.gridlove-cover-content .entry-content {
  max-width: 400px;
}

.gridlove-cover-content .entry-meta {
  position: absolute;
  bottom: 100px;
  text-decoration: none;
  color: white;
  list-style: none;
  z-index: 100;
}

.entry-title h3 {
  font-size: 1.2rem;
}

.entry-meta a {
  color: white;
  text-decoration: none;
  margin-right: 10px;

}

a {
  text-decoration: none;
}


.banner-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.banner-image {
  cursor: pointer;
  transition: 1s linear all;
  -webkit-transition: all 1s;
  height: 70vh;
}

.gridlove-cover-content .entry-header {
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 480px;
  text-align: left;
  z-index: 3;
  margin-left: 15px;
  padding-top: 120px;
  pointer-events: none;
}

.gridlove-cover-content .entry-category {
  margin-bottom: 15px;
}

.gridlove-cover-content .entry-title,
.gridlove-cover-content .entry-title a,
.gridlove-cover-content p {
  color: #FFF;
}

.gridlove-cover-content .entry-title {
  margin-bottom: 20px;
}


.gridlove-cover-content .entry-content {
  max-width: 400px;
}

.gridlove-cover-content .entry-meta {
  position: absolute;
  bottom: 100px;
  z-index: 100;
}


.banner-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.banner-image {
  cursor: pointer;
  transition: 1s linear all;
  -webkit-transition: all 1s;
  height: 60vh;
}

.banner-image-news {
  cursor: pointer;
  transition: 1s linear all;
  -webkit-transition: all 1s;
  height: 70vh;
}

.banner-image-news::after {
  content: '\A';
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000 0, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
  transition: 1s ease-in-out;
  -webkit-transition: all 1s;
}


.banner-image::before {


  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  opacity: 1;
  transition: 1s ease-in-out;
  -webkit-transition: all 1s;
}

.banner-image-news::before {
  content: '\A';
  position: absolute;
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, #000 100%);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}


.banner-image:hover::before {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.entry-category a {
  display: inline-block;
  height: auto;
  font-size: 10px;
  line-height: 10px;
  padding: 7px 11px 6px;
  border-radius: 20px;
  margin-right: 5px;
  text-transform: uppercase;
  vertical-align: top;
  transition: all .2s ease-in-out;
  color: white;
  background-color: #009cff;
}

.banner-img {
  width: 100%;
  height: auto;
}

.gridlove-cover-content {
  margin-left: 10%;
}

.entry-content {
  font-family: 'Lato', sans-serif;
}


.entry-image:hover img {
  filter: brightness(75%);
}

.right-cont {
  position: relative;
  overflow: hidden;
  transition: .5 ease;
}

.right-cont:hover img {
  filter: brightness(60%);
}

.right-cont-top {
  position: absolute;
  top: 20px;
  padding: 0 20px;
}

.v-card {
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  color: white;
}

.gridlove-post {
  height: 300px;
  position: relative;
  line-height: 1.375;
}

.gridlove-post {
  font-size: 16px;
}

.box-inner-ellipsis {
  height: 197px;
  max-height: 197px;
  overflow: hidden;
}

.box-inner-p,
.gridlove-text-module-content.gridlove-box {
  padding: 30px;
}

.gridlove-post-c .entry-category,
.gridlove-post-c .entry-title,
.gridlove-post-d .entry-category,
.gridlove-post-d .entry-title {
  margin-bottom: 8px;
}

.entry-overlay .entry-category a,
.gridlove-posts .entry-category a,
.gridlove-related .entry-category a {
  margin-bottom: 2px;
}

.gridlove-post-c .entry-category,
.gridlove-post-c .entry-title,
.gridlove-post-d .entry-category,
.gridlove-post-d .entry-title {
  margin-bottom: 8px;
}

.gridlove-post-c .entry-content p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

.meta-item a {
  font-size: 12px;
}

.entry-category a:hover {
  background: #000 !important;
}

.layout-combo {
  position: relative;
  margin-top: 25px;
}

.entry-category {
  position: absolute;
  top: 20px;
  left: 20px;
}

.article-container {

  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
  background: #FFF;
}

.gridlove-post-a .box-inner-p {
  padding: 30px 30px 30px;
}

.gridlove-post-a .box-inner-ellipsis {
  height: 70px;
  max-height: 70px;
}

h3,
.h3 {
  font-size: 22px;
}

.entry-title a {
  color: #111111;
}

.entry-meta a,
.entry-title a {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.entry-overlay .entry-meta,
.gridlove-post-a .entry-meta,
.gridlove-post-b .entry-meta,
.gridlove-post-c .entry-meta {
  position: absolute;
  bottom: 30px;
}

.entry-meta .meta-item,
.entry-meta a,
.entry-meta span,
.comment-metadata a {
  color: #818181;
}

.coauthors .vcard:last-child {
  margin-right: 0;
}

.entry-meta .meta-item,
.entry-meta a,
.entry-meta span,
.comment-metadata a {
  color: #818181;
}

.entry-meta .meta-item,
.entry-meta .meta-rtime,
.entry-meta .meta-views,
.entry-meta a,
.entry-meta span {
  font-size: 12px;
  line-height: 18px;
}

.meta-author img {
  margin: 0 4px 0 0;
}

.meta-author img {
  border-radius: 50%;
  vertical-align: -8px;
  display: inline-block;
  margin-right: 4px;
  width: 24px;
}

.entry-meta .meta-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}




.meta-comments a::before,
.meta-date span::before,
.meta-rtime::before,
.meta-views::before {
  font-family: 'FontAwesome', sans-serif;
  margin-right: 4px;
}

.box-inner-p {
  padding: 5%;
}

.gridlove-box,
#disqus_thread {
  background: #ffffff;
}

.gridlove-post-a .entry-image {
  position: relative;
}

.gridlove-post-a .entry-image img {
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.gridlove-post-a .box-inner-ellipsis {
  height: 70px;
  max-height: 70px;
}

.entry-overlay .entry-meta,
.gridlove-post-a .entry-meta,
.gridlove-post-b .entry-meta,
.gridlove-post-c .entry-meta {
  position: absolute;
  bottom: 30px;
}

.entry-meta .meta-item,
.entry-meta a,
.entry-meta span,
.comment-metadata a {
  color: #818181;
}

.gridlove-post-a .box-inner-ellipsis {
  height: 70px;
  max-height: 70px;
}

.box-col-b {
  float: left;
  max-width: 43%;
  margin: 0 0 0 30px;
}

.box-inner-ellipsis {
  height: 197px;
  max-height: 197px;
  overflow: hidden;
}

.gridlove-post-b .entry-category,
.gridlove-post-b .entry-title {
  margin-bottom: 8px;
}

.gridlove-format-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 24px;
  margin-right: 2px;
  background: #111;
  color: #FFF;
}

.entry-overlay .entry-meta,
.gridlove-post-a .entry-meta,
.gridlove-post-b .entry-meta,
.gridlove-post-c .entry-meta {
  position: absolute;
  bottom: 30px;
}

.entry-meta .meta-item,
.entry-meta a,
.entry-meta span,
.comment-metadata a {
  color: #818181;
}

.gridlove-post-a .entry-category {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
  width: 80%;
  right: 30px;
}

.gridlove-share-wrapper {
  width: 100px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  position: relative;
}

.gridlove-content,
.gridlove-share-wrapper,
.gridlove-sidebar {
  padding-left: 15px;
  padding-right: 15px;
}

.gridlove-single-layout-7,
.gridlove-single-layout-8 {
  margin-top: -75px;
  position: relative;
  z-index: 999;
}

.gridlove-box,
#disqus_thread {
  background: #ffffff;
}

.gridlove-box {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
  box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
  background: #FFF;
}

.box-inner-p-bigger {
  padding: 40px 60px 50px;
}

.box-single .entry-header {
  margin-bottom: 28px;
}

.box-single .entry-category {
  margin-bottom: 12px;
}

.box-single .entry-title {
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
blockquote,
thead td,
.comment-author b,
q::before,
#bbpress-forums .bbp-forum-title,
#bbpress-forums .bbp-topic-permalink {
  color: #111111;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  margin: 0 0 24px;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 0;
  padding-left: 50px;
}

.entry-content::after {
  content: '';
  display: block;
  clear: both;
}

.gridlove-author,
.gridlove-prev-next-nav,
.comment .comment-respond {
  border-color: rgba(94, 94, 94, 0.1);
}

.gridlove-author img {
  border-radius: 50%;
}

.gridlove-author h4 {
  margin-bottom: 12px;
}

.gridlove-author-desc {
  margin-bottom: 24px;
}

.gridlove-author-links {
  margin-bottom: 2px;
}

.gridlove-author-links .gridlove-pill {
  margin-bottom: 2px;
}

.submit,
.gridlove-button,
.mks_autor_link_wrap a,
.mks_read_more a,
input[type="submit"],
button[type="submit"],
.gridlove-cat,
.gridlove-pill,
.gridlove-button-search,
body div.wpforms-container-full .wpforms-form input[type="submit"],
body div.wpforms-container-full .wpforms-form button[type="submit"],
body div.wpforms-container-full .wpforms-form .wpforms-page-button,
.add_to_cart_button {
  color: #FFF;
  background-color: #009cff;
}

.pill-large {
  height: 30px;
  line-height: 30px;
  padding: 1px 15px;
}

.gridlove-action-link,
.gridlove-pill {
  display: inline-block;
  height: 24px;
  font-size: 10px;
  line-height: 24px;
  padding: 0 11px;
  border-radius: 20px;
  margin-right: 5px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.gridlove-author-links .fa-link {
  background: rgba(94, 94, 94, 0.1);
  color: #5e5e5e;
}

.gridlove-author-links .fa {
  color: #FFF;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 10px 0;
  font-size: 12px;
  margin: 0 3px 2px;
  vertical-align: middle;
  transition: all .2s ease-in-out;
}

.fa-chain::before,
.fa-link::before {
  content: "\f0c1";
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.entry-meta-custom {
  display: none;
  font-size: 10px;
  align-items: center;
}

.right-inner-head {
  display: none;
}

@media screen and (max-width:768px) {
  .box-inner-ptbr {
    display: none;
  }

  .gridlove-post {
    width: 385px;
  }

  .right-inner-head {
    display: block;
  }

  .entry-meta-custom {
    display: flex;
  }


  .gridlove-ad {
    margin: 0 auto 30px;
    text-align: center;
  }

  .gridlove-ad img {
    width: 100%;
    height: auto;
    margin-top: 33px;
  }

  .gridlove-share-wrapper {
    width: 100px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    position: relative;
  }

  .gridlove-box,
  #disqus_thread {
    background: #ffffff;
  }

  .gridlove-share .meks_ess {
    width: 70px;
    background: #FFF;
    padding: 16px;
    text-align: center;
    margin-bottom: 0;
    display: block;
    position: static;
  }

  body .gridlove-share .meks_ess a {
    display: inline-block;
    clear: both;
    height: 33px;
    width: 33px;
    min-width: 33px;
    margin: 0 0 10px !important;
    line-height: 33px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .gridlove-site-content {
    margin-bottom: 30px;
  }

  .gridlove-share-wrapper {
    width: 100px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    position: relative;
  }

  .gridlove-page-layout-4,
  .gridlove-page-layout-5,
  .gridlove-single-layout-7,
  .gridlove-single-layout-8 {
    margin: auto;
    margin-top: -75px;
    position: absolute;
    z-index: 999;
    width: 70%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gridlove-site-content {
    position: relative;
  }

  .box-inner-p-bigger {
    padding: 40px 60px 50px;
  }

  .module-header {
    margin-bottom: 28px;
    margin-top: -4px;
  }

  .module-title {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .comment-respond {
    margin-bottom: 0;
  }

  .comment-reply-title {
    float: right;
  }

  .small,
  small {
    font-size: 80%;
    font-weight: 400;
  }

  .comment-form p {
    margin-bottom: 5px;
  }

  .comment-form label {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 10px;
  }

  textarea {
    border-color: rgba(94, 94, 94, 0.2);
  }

  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    float: left;
    width: 33.33%;
    padding: 0 15px 0 0;
    margin-bottom: 20px;
  }

  textarea {
    min-height: 200px;
    line-height: 22px;
  }

  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    float: left;
    width: 33.33%;
    padding: 0 15px 0 0;
    margin-bottom: 20px;

  }

  [role="button"],
  a,
  area,
  button,
  input,
  label,
  select,
  summary,
  textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  .comment-form-url {
    padding: 0;
  }

  .comment-form-comment {
    display: flex;
    flex-direction: column;

  }



  .cmt input {
    width: 100%;
  }

  input[type="submit"] {
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    padding: 14px 20px;
    font-weight: 700;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1), inset 0 0 0 transparent;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1), inset 0 0 0 transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  input[type="submit"]:hover {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3), inset 0 0 230px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3), inset 0 0 230px rgba(0, 0, 0, .1);
  }

  .gridlove-post {
    height: 300px;
    position: relative;
    line-height: 1.375;
  }

  .box-col-b {
    float: left;
    max-width: 43%;
    margin: 0 0 0 30px;
  }

  .col-lg-12 .box-col-b {
    padding: 30px 0;
  }

  .box-inner-ellipsis {
    height: 197px;
    max-height: 197px;
    overflow: hidden;
  }
}